:root{
  --color-background: hsl(235, 16%, 14%);
}



body {
  height: 100%;
  color: var(--color-text);
  margin: 0;
  background-color: var(--color-background);
  background-image: url('/src/images/bg-stars.svg');

  

 
}
